@import '../basic/normalize';
@import '../basic/fonts';
@import '../basic/var';
@import '../basic/global';
@import '../block/header';
@import '../block/main';
@import '../block/cables';
@import '../block/advantages';
@import '../block/hits';
@import '../block/leader';
@import '../block/new';
@import '../block/news';
@import '../block/footer';
@import '../block/backArrow';
@import '../basic/media';


