.information {
    padding: 0 15px;
    &__box {
        background-color: #f9f9f9;
        padding: 50px 0;
        margin-bottom: 100px;
    }
    &__title {
        margin-bottom: 0;
        &-devilery {
            font-weight: 700;
            font-size: 30px;
            line-height: 40px;
            color: #000;
            margin-bottom: 24px;
        }
    }
    &__subtitle {
        font-size: 14px;
    }
    &__top {
        background-color: #f9f9f9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-box {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
    &__name {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: $grayColor;
        margin-bottom: 30px;
    }
    &__descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $grayColor;
        margin-bottom: 45px;
    }
    &__list {
        margin-bottom: 50px;
        list-style: disc;
        margin-left: 50px;
        &-item {
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            color: $grayColor;
            margin-bottom: 20px;
            display: block;
            b {
                font-weight: 700;
            }
        }
    }
    &__delivery {
        &-title {
            font-weight: 500;
            font-size: 15px;
        }
    }
}