.news {
    padding: 130px 0 118px 0 ;
    &__top {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }
    &__item {
        max-width: 360px;
        min-height: 482px;
        &-img {
            position: relative;
            width: 100%;
            height: 234px;
            margin-bottom: 16px;
        }
        &-date {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 80px;
            height: 80px;
            background-color: #fff;
            padding: 22px 23px;
        }
        &-day {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: $colorBtn;
        }
        &-month {
            font-weight: 500;
            font-size: 11px;
            font-size: 0.6875rem;
            text-transform: uppercase;
            line-height: 24px;
            color: $grayColor;
        }
        &-line {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 18px;
        }
        &-title {
            font-size: 24px;
            line-height: 30px;
            color: #000;
            font-weight: 700;
            margin-bottom: 22px;
            transition: all .4s;
            &:hover {
                color: $colorBtn;
            }
        }   
        &-subtitle {
            font-size: 14px;
            line-height: 25px;
            color: $grayColor;
            font-weight: 300;

            margin-top: 23px;
            margin-bottom: 23px;
        } 
    }
    &__more {
        margin-bottom: 80px;
    }
}