.pay {
    &__information {
        &-header {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: $grayColor;
            margin-bottom: 65px;
        }
        &-title {
            font-weight: 700;
            font-size: 25px;
            line-height: 38px;
            color: #000;
            margin-bottom: 40px;
        }
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;
            margin-bottom: 20px;
        }
        &-item {
            max-width: 284px;
            min-height: 351px;
            padding: 20px;
            position: relative;
            background-color: #f5f5f5;
            &--img {
                width: 120px;
                height: 120px;  
                margin-bottom: 30px;
            }
            &--title {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                color: #000;
                margin-bottom: 25px;
            }
            &--descr {
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                color: $grayColor;
            }
            &--step {
                width: 78px;
                height: 30px;
                background-color: $colorBtn;
                color: #fff;
                font-weight: 700;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 65px;
                right: 0;
                transform: rotate(90deg);
            }
        }
    }
}